<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{screamIt pageText}}</title>
  </head>
  <body>
    <h1>{{currentYear}}</h1>
    <p>Some text klk here</p>
    {{> footer}}
  </body>
</html>
